// mixin
// simple mixin
@mixin inline-list {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
  }
}

.header ul {
  @include inline-list();
  li {
    background-color: black;
    padding: 0.7em;
    a {
      color: white;
    }
  }
}

.header ul {
  @include inline-list();
  li {
    background-color: salmon;
    padding: 0.4em;
    a {
      color: rgb(168, 145, 145);
      text-decoration: none;
    }
  }
}


// arguments pada mixin
@mixin flex-box( $direction: row, $space: center) { //1 //menerima item //mendeklarasikan nilai default, jika tidak ada nilai yang di kirim
    display: flex;
    justify-content: $space; //1 //mengatur posisi horizontal
    align-items: center; //mengatur posisi vertical
    flex-direction: $direction; //1 //mengurutkan item
}



.container {
  @include flex-box(row-reverse, space-evenly); //1 //mengirimkan nilai
  width: 600px;
  height: 400px;
  background-color: seashell;
  .box {
    width: 60px;
    height: 60px;
    background-color: yellow;
    text-align: center; //text di tengah
    line-height: 60px; //text di tengah //relatife terhadap height
  }
}












